@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(177, 225, 255);
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid lightcoral;
    background-color: rgb(241, 214, 214);
    color: lightcoral; 
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.counter{
    display: flex;
}

#currentNumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}